@media(min-width:700px){
.container-1{
display: flex;

}
.container-2{
	padding: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  	gap: 15px;
}
}

.container-1 div{
border: 1px black solid;
padding: 10px;
}
.container-2-box{
	flex: 1 1 30%;
  	min-width: 250px;
}
.container-2 div{
	border: 1px black solid;
}

.box-1{
	flex: 1;
}
.box-2{
	flex: 1;
}
.box-3{
	flex: 1;
}

body{
	background:rgb(248, 255, 226);
	text-align: center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;	
}

p{
	color:rgb(20, 108, 74);
}

ul {
    text-align: center;
    list-style-position: inside;
	color:rgb(20, 108, 74);
}

h2{
	color: black;
}
